@tailwind base;
@tailwind components;
@tailwind  utilities;

#root {
  height: 100lvh;
  width: 100%;
}

html,
body {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Hide scrollbar in WebKit browsers */
::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar in Firefox */
body {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
  overflow-y: scroll; /* Ensure scrollability */
}
