@tailwind base;
@tailwind components;
@tailwind  utilities;

@font-face {
  font-family: 'MyFont';
  src: url('./assets/fonts/Fredoka_Expanded-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MyTextFonr';
  src: url('./assets//fonts//Fredoka_Condensed-Regular.ttf') format('truetype');
  font-weight: normal;
  font-size: normal;
}

#root {
  height: 100vh;
  width: 100%;
}

html,
body {
  scroll-behavior: smooth;
  /* overflow-x: hidden; */
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

h1, h2 {
  font-family: 'MyFont', sans-serif;
}

span {
  font-family: 'MyTextFont', sans-serif;
}
